<!DOCTYPE html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title></title>

</head>

<body>
    <h2></h2>
    <div id="app">
        <p v-bind:style="{backgroundColor:mixColor}">{{ mixColor }}</p>
        <input type="range" v-model="R" min="0" max="255"><br>
        <input type="range" v-model="G" min="0" max="255"><br>
        <input type="range" v-model="B" min="0" max="255">
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                R: 255,
                G: 200,
                B: 200
            },
            computed: {
                mixColor: function () {
                    var ans = "RGB(" + this.R + ", " + this.G + ", " + this.B + ")";
                    return ans;
                }
            }
        })
    </script>
</body>

</html>