<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>폼 연결</title>
</head>

<body>
    <div id="app">
        <h2>입력폼과 데이터 연결하기</h2>
        <input v-model.lazy="myName" placeholder="이름을 입력하세요">
        <p>나의 이름은 {{myName}} 입니다.</p>
        <hr>
        <textarea v-model="myText" cols="30" rows="10"></textarea>
        <p>내가 쓴 문장은 『{{myText}}』 입니다.</p>
        <p>문자의 수는 {{myText.length}}자 입니다.</p>
        <hr>
        <h3>체크 박스 연결</h3>
        <label>
            <input type="checkbox" v-model="myCheck">
            체크박스 상태는 {{myCheck}} 입니다.
        </label>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                myName: '',
                myText: 'Vue의 model 연습중입니다.',
                myCheck: false
            }
        })
    </script>
</body>

</html>