<!DOCTYPE html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title></title>

</head>

<body>
    <h2>구구단 추가 / 삭제</h2>
    <div id="app">
        <button @click="addData()">1단씩 추가</button>
        <button @click="delData()">마지막 단 삭제</button>

        <ul>
            <li v-for="item in myArray" style="margin-bottom: 20px;">
                <a v-for="item2 in 9" style="margin-right: 30px;">{{item}}x{{item2}}={{item * item2}}</a>
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                myArray: [2, 3, 4, 5, 6, 7, 8, 9]
            },
            methods: {
                delData: function () {
                    this.myArray.splice(-1, 1);
                },
                addData: function () {
                    var lastItem = this.myArray[this.myArray.length - 1];
                    this.myArray.push(lastItem + 1);
                }
            }
        })
    </script>
</body>

</html>